<h3>owner</h3>
<p>Created: <%= @owner.name if @owner.name %></p>
<p>Name: <%= @owner.name if @owner.name %></p>
<p>Email: <%= @owner.email if @owner.email %></p>
<p>Created: <%= @owner.created_at if @owner.created_at %></p>
<p>Created: <%= @owner.updated_at if @owner.updated_at %></p>
<p>Created: <%= @owner.last_sign_in_at if @owner.last_sign_in_at %></p>