<p id="notice"><%= notice %></p>

<%= image_tag @restaurant.avatar.url(:masthead) if @restaurant.avatar?%>

<p>
  <strong>Name:</strong>
  <%= @restaurant.name %>
</p>

<p>
  <strong>Desc:</strong>
  <%= @restaurant.desc %>
</p>

<p>
  <strong>current user id:</strong>
  <%= current_user.id if defined?(current_user.id) %>
</p>

<p>
  <strong>restaurant user:</strong>
  <%= @restaurant.user.id %>
</p>

<p>
  <strong>Full address:</strong>
  <%= @restaurant.full_address %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @restaurant.phone %>
</p>

<p>
  <strong>Avatar:</strong>
  </p>

   <%= render 'reservations/form', :reservation => @reservation %>
<p>End Reservations Form</p>

 <% if current_user == @restaurant.user %>
  <h2>Reservations</h2>
  <table class="table table-striped">
    <tr>
      <th>Email</th>
      <th>Reserve On</th>
      <th>Message</th>
      <th></th>
    </tr>
    <%= @restaurant.reservations.each do |reservation| %>
      <tr>
        <td><%= reservation.email %></td>
        <td><%#= reservation.reserve_on %></td>
        <td><%= reservation.message %></td>
        <td><%= link_to 'Marked as Confirmed', reservation_path(reservation), :method => :delete, :confirm => 'Mark this reservation confirmed?' %></td>
      </tr>
    <%- end %>
  </table>
<% else %>


<% end %>

<% if @restaurant.user == current_user %>
  | <%= link_to 'Edit', edit_restaurant_path(@restaurant) %>  
<% end %>
  | <%= link_to 'New Reservation', new_restaurant_reservation_path(@restaurant) %>


<%= link_to 'Back', restaurants_path %>