<p id="notice"><%= notice %></p>

<div id="restaurant_info">
<%= image_tag @restaurant.avatar.url(:masthead) if @restaurant.avatar?%>


<p>
  <strong>Name:</strong>
  <%= @restaurant.name %>
</p>

<p>
  <strong>Desc:</strong>
  <%= @restaurant.desc %>
</p>

<p>
  <strong>current user id:</strong>
  <%= current_user.id if defined?(current_user.id) %>
</p>

<p>
  <strong>restaurant user:</strong>
  <%= @restaurant.user.id %>
</p>

<p>
  <strong>Full address:</strong>
  <%= @restaurant.full_address %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @restaurant.phone %>
</p>

<p>
  <strong>Avatar:</strong>
  </p>
</div>

<%= render 'reservations/form', :reservation => @reservation %>

 <% if current_user == @restaurant.user %>

  <h2>Reservations</h2>
  <p>Test</p>
  <table class="table table-striped">
    <tr>
      <th>Email</th>
      <th>Reserve On</th>
      <th>Message</th>
      <th></th>
    </tr>
    <p>Another test</p>
    <%#= render 'reservations/index', :restaurant_id => @restaurant.id %>
    <td><%#= link_to 'List Reservations', :controller => :reservations, :restaurant_id => restaurant.id, :action => :index %></td>



    <%= @restaurant.reservations.each do |reservation| %>
      <tr>
        <td><%= reservation.email %></td>
        <td><%= reservation.requested_date.strftime("%m/%d/%Y") %></td>
        <td><%= reservation.message %></td>
        <td><%= link_to 'Destroy', reservation_path(reservation.id), method: :delete, data: {confirm: "Are you sure?"} %></td>

        <td><%#= link_to 'Marked as Confirmed', reservation_path(@reservation), :method => :delete, :confirm => 'Mark this reservation confirmed?' %></td>
        <td><%#= link_to 'Destroy', [:delete, reservation], :method => :delete %></td>
        <td><%#= link_to 'Destroy', [:delete, reservation], :method => :delete %></td>


      </tr>
    <%- end %>
  </table>
<% else %>


<% end %>

<% if @restaurant.user == current_user %>
  | <%= link_to 'Edit', edit_restaurant_path(@restaurant) %>  
<% end %>
  | <%= link_to 'New Reservation', new_restaurant_reservation_path(@restaurant) %>


<%= link_to 'Back', restaurants_path %>